/**

    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;



**/


.m-a {
    margin: auto;
}

.w-400px {
    width: 500px;
}

.f-r {
    float: right;
}

.mt-4em {
    margin-top: 4em;
}

.form-submit {
    background-color: #2d73f5;
    color: white;
    border-radius: 4px;
    height: 50px;
    border: none;
    width: 75px;
}
