.deleteBtn,
.deleteBtn:hover {
  background-color: #af111a;
  color: white;
  background-color: #d51923;
  color: white;
  width: 10px;
  height: 20px;
  border: none;
  text-decoration: none;
  font-size: 10px;
}

.deleteBtn:hover {
  background-color: #f01c27;
  color: rgb(34, 33, 33);
}
