/**

    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;



**/

.mr-5px {
    margin-right: 5px;
}

.task-list__header {
    display: block;
    margin: 4em auto;
    width: 600px;
    height: 1em;
    display: flex;
    justify-content: space-between;
}

.button-add {
    background-color: #ff6358;
    color: white;
    border-radius: 4px;
    height: 1.5em;
    border: none;
    padding: 1em;
    text-decoration: none;
    float: right;
    text-align: center;
    width: 80px;
}

.button-add:hover {
    background-color: #a4413a;
    color: white;
    border-radius: 4px;
    height: 1.5em;
    border: none;
    padding: 1em;
    text-decoration: none;
    float: right;
    text-align: center;
    width: 80px;
}

.button-download {
    background-color: #3e80ed;
    color: white;
    border-radius: 4px;
    width: 90px;
    height: 1.5em;
    border: none;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    margin-left: .5em;
}

.button-download:hover {
    background-color: #184693;
    color: white;
    border-radius: 4px;
    width: 90px;
    height: 1.5em;
    border: none;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    margin-left: .5em;
}

.button-delete {
    background-color: #d51923;
    color: white;
    border-radius: 4px;
    width: 75px;
    height: 1.5em;
    border: none;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.button-delete:hover {
    background-color: #af111a;
    color: white;
    border-radius: 4px;
    width: 75px;
    height: 1.5em;
    border: none;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

li {
    list-style: none;
}

.task-list {
    list-style: none;
    display: block;
    width: 600px;
    line-height: 2em;
    text-decoration: none;
    margin: 2em auto;
    background-color: #f6f6f6;
    color: #3b3b3b;
    padding: 2em;
}

.task-list:hover {
    display: block;
    width: 600px;
    line-height: 2em;
    text-decoration: none;
    margin: 2em auto;
    background-color: #5c5858;
    padding: 2em;
    color: #cec3c3;
}

.task-list__description {
    display: block;
    overflow: hidden;
    font-size: .95rem;
    line-height: 1em;
    margin-bottom: .5em;
    padding-bottom: .5em;
}

.task-list__customer {
    display: inline-block;
    font-style: italic;
    line-height: 1em;
}

.task-list__contract {
    display: inline-block;
    font-weight: 600;
    line-height: 1em;
}

.task-list__time {
    line-height: 1em;
    float: right;
}

.task-list__time-label {
    display: inline-block;
}

.task-list__time-value {
    display: inline-block;
}

.task-list__delete-btn {
    background-color: #af111a;
    color: white;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    text-decoration: none;
    margin-left: 1em;
    font-size: 16px
}


.task-list__delete-btn:hover {
    background-color: #f01c27;
    color: rgb(34, 33, 33);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    text-decoration: none;
    margin-left: 1em;
    font-size: 16px
}