.task-list__header {
    display: block;
    text-align: right;
    margin: 4em auto;
    width: 600px;
}

.button-add {
    background-color: #c600e8;
    color: white;
    border-radius: 4px;
    width: 100px;
    height: 1.5em;
    border: none;
    padding: 1em;
    text-decoration: none;
}

li {
    list-style: none;
}

.task-list {
    list-style: none;
    display: block;
    width: 600px;
    line-height: 2em;
    text-decoration: none;
    margin: 2em auto;
    background-color: #f6f6f6;
    color: #3b3b3b;
    padding: 2em;
}

.task-list:hover {
    display: block;
    width: 600px;
    line-height: 2em;
    text-decoration: none;
    margin: 2em auto;
    background-color: #5c5858;
    padding: 2em;
    color: #cec3c3;
}

.task-list__description {
    display: block;
    line-height: 1em;
}

.task-list__customer {
    display: inline-block;
    line-height: 1em;
}

.task-list__contract {
    display: inline-block;
    line-height: 1em;
}

.task-list__time {
    line-height: 1em;
    float: right;
}

.task-list__time-label {
    display: inline-block;
}

.task-list__time-value {
    display: inline-block;
}
