.container {
  height: 700px;
  display: flex;
  flex: 4 4;
}

.navBarInnerContainer {
  height: 50px;
  background-color: rgb(100, 100, 100);
}

.mainInnerContainer {
  display: flex;
  flex-direction: row;
}

.listView {
  overflow-y: scroll;
  flex: 1;
}

@media only screen and (max-width: 900px) {
  .listView {
    flex: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.submitContainer {
  display: flex;
  flex-direction: row-reverse;
}

.submit {
  width: 150px;
}