.container {
  height: 700px;
  display: flex;
  flex-direction: column;
  flex: 4 4;
}

.navBarInnerContainer {
  height: 50px;
  background-color: rgb(100, 100, 100);
}

.mainInnerContainer {
  display: flex;
  flex-direction: row;
}

.listView {
  overflow-y: scroll;
  flex: 1;
}

@media only screen and (max-width: 900px) {
  .listView {
    flex: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.submitContainer {
  display: flex;
  /* flex-direction: row-reverse; */
}


.submit,
.submit:hover {
  align-self: flex-end;
  background-color: #2d73f5;
  border-radius: 4px;
  border: none;
  color: white;
  align-self: flex-end;
  font-size: 14px;
  width: 45px;
  height: 45px;
  margin: 10px 5px;
}

.submit:hover {
  background-color: #275ab9;
}

.submit:disabled {
  background-color: rgba(45, 115, 245, 0.45);
}

.topButtonOutline {
  display:flex;
  flex-direction: row;
}