/**
    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;
**/

.taskFormContainer {
    max-width: 1164px;
    margin-top: 50px;
    margin: auto;
}

.taskForm {
    display: flex;
    flex-direction: column;
}

.textArea {
    background-color:beige;
    padding: 1em;
    display: inline-flex;
    flex: .75 .85;
}

.dropDown {
    max-width: 350px;
}

.submit,
.submit:hover {
    align-self: flex-end;
    background-color: #2d73f5;
    border-radius: 4px;
    height: 50px;
    border: none;
    width: 75px;
    color: white;
    margin-top: 1em;
}

.submit:hover {
    background-color: #275ab9;
}

.submit:disabled {
    background-color: rgba(45, 115, 245, 0.45);
}