/**

    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;



**/

.form-submit,
.form-submit:hover {
    background-color: #2d73f5;
    color: white;
    border-radius: 4px;
    height: 50px;
    border: none;
    width: 75px;
}

.form-submit:hover {
    background-color: #275ab9;
}

.react-loading {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-around;
}

.react-loading__content {
    width: 400px;
    height: 400px;
    margin: auto;
    width: 100px;
    margin: auto;
    text-align: center;
    line-height: 75px;
}

.react-loading div svg {
    width: 100px;
    margin: auto 0;
}

.sub-form {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1em;
}