li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: #3b3b3b;
  margin-top: -1px; /* Need to make the task top overlap underBorder (of previous task). This allows us to blend it into the selected task. */
}

.item,
.item {
  height: 75px;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  text-decoration: none;
  font-size: 12px;
}

.selected {
  background-color: rgb(200, 200, 200);
}

.itemLeft,
.itemLeft:hover {
  flex: 5;
  overflow: hidden;
}

.name {
  display: block;
  overflow: hidden;
  font-size: 0.95rem;
  overflow-wrap: break-word;
  padding-left: 10px;
}

.underBorder {
  width: 80%;
  background-color: rgb(200, 200, 200);
  height: 1px;
  margin: 0 auto;
}

.underBorderSelected {
  visibility: hidden;
}
