.container {
  height: 700px;
  display: flex;
  flex-direction: column;
}

.navBar {
  height: 50px;
  background-color: rgb(100, 100, 100);
}

.rightInnerContainer {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.listView {
  overflow-y: scroll;
  flex: 1;
}

.form {
}
