
.deleteBtn,
.deleteBtn:hover {
  background-color: #af111a;
  color: white;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  border: none;
  text-align: center;
  text-decoration: none;
  margin-left: 0.25em;
  font-size: 16px;
}

.deleteBtn:hover {
  background-color: #f01c27;
  color: rgb(34, 33, 33);
}