/**

    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;



**/
.taskListHeader {
  display: flex;
}

.taskList,
.taskList:hover {
  margin: 0;
  padding: 0;
  max-width: 200px;
  min-width: 200px;
}
