/**
    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;
**/

.flashMessage,
.flashMessage:hover {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    color:white;
    font-size: 1.1rem;
    cursor: pointer;
    width: 200px;
}

.flashMessage.success {
    background:#5ec232;
}

.flashMessage.success:hover {
    background: #418823;
}

.flashMessage.error {
    background:#d51923;
}

.flashMessage.error:hover {
    background: #991017;
}

.flashMessageContent { 
    flex: 1 1;
    padding: 10px;
    font-size: 12px;
}

.flashMessageCancel {
    flex: 1 1;
    text-align: right;
    font-size: 14px;
    padding: 10px;
}

.fade-out {
    animation: fadeOut ease 5s;
    -webkit-animation: fadeOut ease 5s;
    -moz-animation: fadeOut ease 5s;
    -o-animation: fadeOut ease 5s;
    -ms-animation: fadeOut ease 5s;
  }
  
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}