.flash-message,
.flash-message:hover {
    padding: 1em 1em 1em 2em;
    margin-bottom: .25em;
    background:#5ec232;
    color:white;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
}

.flash-message_message {
    flex: 1 1;
}

.flash-message:hover {
    background: #418823;
}

.flash-message_cancel {
    display: inline-block;
    
}