/**
    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;
**/

.flashMessage,
.flashMessage:hover {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    color:white;
    font-size: 1.1rem;
    cursor: pointer;
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
}

.flashMessage.success {
    background:rgb(16, 96, 34);
}

.flashMessage.success:hover {
    background: rgb(0, 64, 14);
}

.flashMessage.error {
    background:rgb(126, 21, 24);
}

.flashMessage.error:hover {
    background: rgb(84, 0, 2);
}

.flashMessageIcon {
  flex: 1 1;
  margin: auto;
}

.flashMessageContent { 
    flex: 2 2 auto;
    font-size: 13px;
    margin: 0 1em;
}

.flashMessageCancel {
  margin: auto;
  flex: 1 1 auto;
  font-size: 18px;
}

.fade-out {
    animation: fadeOut ease 10s;
    -webkit-animation: fadeOut ease 10s;
    -moz-animation: fadeOut ease 10s;
    -o-animation: fadeOut ease 10s;
    -ms-animation: fadeOut ease 10s;
  }
  
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}