/**

    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;



**/


.mt-1em {
    margin-top: 1em;
}

.m-a {
    margin: auto;
}

.w-140 {
    width: 140px;
}

.w-50 {
    width: 50px;
}

.timer {
    margin-top: 1em;
}

.timer__display {
    display: block;
    background: #d8d8d8b3;
    padding: 1em;
}

.timer__display__label {
    display: inline-block;
    margin-left: .5em;
    margin-top: 10px;
}

.timer__display__content {
    display: inline-block;
    margin-left: 1em;
}

.timer__buttons {
    display: flex;
    flex-direction: row-reverse;
    background:
    #d8d8d8b3;
    padding: 1em;
    justify-content: space-around;
    margin-top: 10px;
}

.timer__start,
.timer__start:hover {
    background-color: #ff6358;
    color: white;
    border-radius: 4px;
    height: 50px;
    border: none;
    width: 75px;
}

.timer__start:hover {
    background-color: #a8423b;
}



.timer__reset,
.timer__reset:hover {
    background-color: #d51923;
    color: white;
    border-radius: 4px;
    height: 50px;
    border: none;
    width: 75px;
}

.timer__reset:hover {
    background-color: #971118;
}

.timer__resume,
.timer__resume:hover {
    background-color: #5ec232;
    color: white;
    border-radius: 4px;
    height: 50px;
    border: none;
    width: 75px;
}

.timer__resume:hover {
    background-color: #458f26;
}

.timer__stop,
.timer__stop:hover {
    background-color: #3e80ed;
    color: white;
    border-radius: 4px;
    height: 50px;
    border: none;
    width: 75px;
}

.timer__stop:hover {
    background-color: #3468bb;
}
