/**
    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;
**/
.timer {
    display: flex;
    flex-direction: column;
}

.timerDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #d8d8d8b3;
}

.timerButtons {
    display: flex;
    background:
    #d8d8d8b3;
    padding: 1em;
    justify-content: space-around;
    margin-top: 10px;
}

.timerReset,
.timerReset:hover {
    background-color: #d51923;
    color: white;
    border-radius: 4px;
    height: 50px;
    border: none;
    width: 75px;
}

.timerReset:hover {
    background-color: #971118;
}

.timerReset:disabled {
    background-color: rgba(199, 82, 82, 0.58);
}

.timerResume,
.timerResume:hover {
    background-color: #5ec232;
    color: white;
    border-radius: 4px;
    height: 50px;
    border: none;
    width: 75px;
}

.timerResume:hover {
    background-color: #458f26;
}

.timerStop,
.timerStop:hover {
    background-color: #fdce3e;
    color: rgb(100,100,100);
    border-radius: 4px;
    height: 50px;
    border: none;
    width: 75px;
}

.timerStop:hover {
    background-color: #dcb231;
}
