textarea {
    resize: none;
}
.text-area {
    background-color:#d8d8d8b3;
    padding: 2em;
    display: inline-flex;
    height: 100%;
    flex: .75 .85;
}

.text-area__description {
    overflow: auto;
    width: 100%;
}