li {
  list-style: none;
}

.block {
  display: block;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: #3b3b3b;
  margin-top: -1px; /* Need to make the task top overlap underBorder (of previous task). This allows us to blend it into the selected task. */
}

.taskItem,
.taskItem {
  height: 75px;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  text-decoration: none;
  font-size: 12px;
}

.selected {
  background-color: rgb(200, 200, 200);
}

.underBorder {
  width: 80%;
  background-color: rgb(200, 200, 200);
  height: 1px;
  margin: 0 auto;
}

.underBorderSelected {
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .taskItem,
  .taskItem:hover {
    width: 96vw;
    max-height: 300px;
    font-size: 12px;
    margin: 4em auto;
    padding: 0;
  }
}

.taskItemLeft,
.taskItemLeft:hover {
  flex: 5;
  overflow: hidden;
}

.taskItemDescription {
  display: block;
  overflow: hidden;
  font-size: 0.95rem;
  overflow-wrap: break-word;
  padding-left: 10px;
}

.taskItemCustomer {
  display: inline-block;
  font-style: italic;
  line-height: 1em;
  padding-left: 10px;
  margin-bottom: 10px;
}

.taskItemDateTime {
  line-height: 1.25em;
}

.tag {
  margin-right: 0.5em;
  background-color: rgb(100, 100, 200);
  padding: 4px;
  color: white;
}
