li {
  list-style: none;
}

.block {
  display: block;
}

.task-item,
.task-item:hover {
  list-style: none;
  display: -webkit-flex;
  display: flex;
  width: 600px;
  line-height: 2em;
  text-decoration: none;
  margin: 2em auto;
  background-color: #f6f6f6;
  color: #3b3b3b;
  padding: 2em;
  box-shadow: 1px 1px 4px 4px #ddd;
}

.task-item:hover {
  background-color: #ffffff;
  color: #3b3b3b;
  box-shadow: 2px 2px 2px 2px #ddd;
}

.task-item__left {
  flex: 5;
  overflow: hidden;
}

.task-item__description {
  display: block;
  overflow: hidden;
  font-size: 0.95rem;
  line-height: .85;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  overflow-wrap: break-word;
}

.task-item__customer {
  display: inline-block;
  font-style: italic;
  line-height: 1em;
}

.task-item__date-time {
  line-height: 1.25em;
}

.task-item__delete-btn,
.task-item__delete-btn:hover {
  background-color: #af111a;
  color: white;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  border: none;
  text-align: center;
  text-decoration: none;
  margin-left: 0.25em;
  font-size: 16px;
}

.task-item__delete-btn:hover {
  background-color: #f01c27;
  color: rgb(34, 33, 33);
}
