.form {
width: 300px;
height: 300px;
margin: auto;
justify-self: right;
background-color: rgb(200, 200, 200);
padding: 2em;
border-radius: 10px;
display: flex;
flex-direction: column;
}

.field {
  display: block;
  height: 100px;
  width: 100%;
}

.field > input {
  display: block;
}

.input {
  width: 100%;
}

label {
  display: block;
}

.error {
    display: block;
    color: #dc3545;
    padding-bottom: 0;
    width: 100%;
    height: auto;
    margin-top: .25rem;
    font-size: .80em;
}

.submitContainer {
  display: block;
  width: 100%;
}

.submit {
  font-size: .95rem;
  float: right;
}