.form {
  width: 300px;
  height: 300px;
  margin: auto;
  justify-self: right;
  background-color: rgb(200, 200, 200);
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.field {
  display: block;
  height: 100px;
  width: 100%;
}

.field > input {
  display: block;
}

label {
  display: block;
}

.input {
  width: 100%;
}

.errorBorder {
  border-color: #dc3545;
}

.errorContainer {
  display: flex;
  width:100%;
  height: 20px;
  margin-top: 4px;
  color: #dc3545;
}

span.iconError.glyphicon.glyphicon-info-sign {
  flex: 1;
  height: 10px;
}

.error {  
    display: block;
    color: #dc3545;
    padding: 0;
    margin-left: 4px;
    flex: 14;
    height: 10px;
    font-size: .80em;
}

.submitContainer {
  display: block;
  width: 100%;
}

.submit {
  font-size: .95rem;
  float: right;
  width: 100px;
}