.form {
width: 300px;
height: 300px;
margin: auto;
justify-self: right;
background-color: rgb(200, 200, 200);
padding: 2em;
border-radius: 10px;
display: flex;
flex-direction: column;
}

.field {
  display: flex;
}

.field > input {
  flex: 3 1;

}

label {
flex: 1 1;
}

.submitContainer {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
}

.submit {
  font-size: .95rem;
}