
.buttonDownload,
.buttonDownload:hover {
  display: flex;
  background-color: #3e80ed;
  color: white;
  border-radius: 4px;
  width: 90px;
  height: 1.5em;
  border: none;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  margin-left: 0.5em;
}

.buttonDownload:hover {
  background-color: #184693;
}