/**
    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;
**/

.taskForm {
  display: flex;
  flex-direction: column;
}

.timeInfoContainer {
  width: 100%;
  display: flex;
}

.innerLeft {
  flex: 1;
  align-items: center;
  padding: 4px;
}

.innerRight {
  flex: 1 1;
  align-items: center;
  padding: 4px;
}

.dropDown {
  max-width: 350px;
}
select {
  width: 100%;
  margin: 5px;
  height: 38px;
}

@media only screen and (max-width: 600px) {
  .timeInfoContainer {
    flex-direction: column;
  }

  .innerLeft {
    flex: 1;
  }

  .innerRight {
    flex: 1;
  }
}

.topButtonOutline {
  display:flex;
  flex-direction: row;
}