/**
    Accent: #ff6358;
    
    Success: #5ec232;
    Warning: #fdce3e;
    Danger: #d51923;
    Info: #3e80ed;
**/

.taskForm {
  display: flex;
  flex-direction: column;
}

.timeInfoContainer {
  width: 100%;
  display: flex;
}

.innerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 4px;
}

.innerRight {
  width: 50%;
}

.dropDown {
  max-width: 350px;
}
select {
  width: 100%;
  margin: 5px;
  height: 38px;
}

@media only screen and (max-width: 600px) {
  .timeInfoContainer {
    flex-direction: column;
  }

  .innerLeft {
    width: 100%;
    flex: 1;
  }

  .innerRight {
    width:100%;
    flex: 1;
  }
}

.submit,
.submit:hover {
  align-self: flex-end;
  background-color: #2d73f5;
  border-radius: 4px;
  border: none;
  color: white;
  align-self: flex-end;
  font-size: 12px;
  width: 45px;
  height: 45px;
  margin: 10px 5px;
}

.submit:hover {
  background-color: #275ab9;
}

.submit:disabled {
  background-color: rgba(45, 115, 245, 0.45);
}

.topButtonOutline {
  display:flex;
  flex-direction: row;
}