.submit,
.submit:hover {
  align-self: flex-end;
  background-color: #2d73f5;
  border: none;
  color: white;
  width: 45px;
  height: 45px;
  margin: 10px 5px;
  border-radius: 6px;
}


.submit:disabled {
  background-color: rgba(45, 115, 245, 0.45);
}
